.form-container {
    width: 95%;
    margin: auto 0;
    border: solid;
    text-align: center;
    
    @media only screen and (min-width: 475px) {
        width: 75%;
    }
}

.item-container {
    width: 100%;  

    display: flex;
    justify-content: center;
}

.item-box {
    width: 100%;
    padding: 1rem;
    border: 1px solid black;
    margin: 0.5rem;
    background-color: #75F4F4;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media only screen and (min-width: 475px) {
        margin: 1rem;
    }
}

input[type=text], input[type=number] {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    margin: 0.5rem;

    border: 1px solid black;
}

label {
    display: block;
}

.button {
    display: block;
    text-align: center;
    font-size: 1rem;
    text-decoration: none;
    border: 0;
    background-color: #F5F5F5;

    padding: 0.5rem 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;

    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);

    &:hover {
        background: #FCF7FF;
    }
}