.results {
    display: flex;
    justify-content: space-between;
}

table, th, td {
    border: 1px solid black;
}

.food-database {
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}