@import "src/app/styles/globals";

.main-wrapper {
    width: min(75rem, 100%);    
    margin: 1rem 0;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .room-container {
    }

    .diet-container {
    }

    .order-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .order-table, td {
            border: 1px solid $black;
            border-collapse: collapse;  
        }

        td {
            padding: 0.5rem;
        }
        
        .order-table {
            width: 100%;

            .order-config {
                border: none;
                padding: 1rem;

                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-wrap: wrap;
                gap: 1rem;

                .select-button {
                    display: inline-block;
                    text-align: center;
                    text-decoration: none;
                
                    font-size: 1rem;
                    border: 0;
                    padding: 0.5em 1em;
                
                    background-color: $dark-white;
                    color: $black;
                    cursor: pointer;
                    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
                
                    &:hover {
                        background: $white;
                    }
                }
                
                .portions {
                    display: none;
                    
                    @media only screen and (min-width: 768px) {
                        display: inline-block;
                    }
                }
            }
        }
    }

    .dropdown {
        font-size: 1rem;
        padding: 0.5em;
        border: 0;
    
        background-color: $dark-white;
        color: $black;
        cursor: pointer;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    
        &:hover {
            background: $white;
        }
    }

    @media only screen and (min-width: 768px) {
        .portion {
            display: none;
        }
    }
}

.red {
    background-color: $red;
}