@import 'react-datepicker/dist/react-datepicker';

$black: #262626;
$white: #FCF7FF;
$dark-white: #F5F5F5;
$red: #DD7373; 
$blue: #75F4F4;
$gray: #D3D3D3;

// background colors page
$neutral: #FAFAFA;
$dark-sky: #0C4A6E;

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    line-height: calc(1em + 0.5rem);
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

p {
    max-width: 75ch;
    text-wrap: pretty;
}

main {
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 1rem;
    background-color: $neutral;
}

header {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    background-color: $dark-sky;
    padding: 1rem;
    gap: 1rem;

    .header-content:first-child {
        margin-left: auto;
    }

    button {
        display: inline-block;
        text-align: center;
        text-decoration: none;
        font-size: 1rem;
        border: 0;
        padding: 0.5em 1em;

        background: $dark-white;
        color: $black;
        cursor: pointer;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);

        &:hover {
            background: $white;
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;

    background-color: $dark-sky;
    padding: 1rem;
    min-height: 10dvh;
}   

.mainDiv {
    min-height: 80dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: $neutral;
}

.dashboardwrap {
    margin-top: 2rem; 
    margin-bottom: auto; 
    gap: 2rem;
    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .nav-button {
        display: inline-block;
        text-align: center;
        text-decoration: none;

        font-size: 1rem;
        border-radius: 0.5em;
        padding: 1em;
        min-width: 7.8125em;
        min-height: 7.8125em;

        background: $blue;
        color: $black;
        cursor: pointer;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    
        &:hover {
            background: $red;
        }

        @media only screen and (min-width: 475px) {
            min-width: 12.5em;
            min-height: 12.5em;
        }
    }
}

// .select-button {
    // display: inline-block;
    // text-align: center;
    // text-decoration: none;

    // font-size: 1rem;
    // border: 0;
    // padding: 0.5em 1em;

    // background-color: $dark-white;
    // color: $black;
    // cursor: pointer;
    // box-shadow: 0 2px 5px rgba(0,0,0,0.2);

    // &:hover {
    //     background: $white;
    // }
// }

// .dropdown {
//     font-size: 1rem;
//     padding: 0.5em;
//     border: 0;

//     background-color: $dark-white;
//     color: $black;
//     cursor: pointer;
//     box-shadow: 0 2px 5px rgba(0,0,0,0.2);

//     &:hover {
//         background: $white;
//     }
// }

// input[type=text] {
//     display: inline-block;
//     font-size: 1rem;
//     width: 100%;
//     padding: 0.5em;
//     background-color: $dark-white;
//     color: $black;

//     border: 1px solid black;
// }