$black: #262626;
$white: #FCF7FF;
$red: #DD7373; 
$blue: #75F4F4;

.header {
    text-align: center;
    border-bottom: solid;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 1rem;

    .content:first-child {
        margin-right: auto;
    }

    button {
        display: inline-block;
        padding: 0.5em;   
    }

    @media only screen and (min-width: 475px) {
        button {
            padding: 1em;
        }
    }
}

.footer {
    text-align: center;
    border-top: solid;

    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}   

.mainDiv {
    height: 80dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.dashboardwrap {
    margin-top: 2em; 
    margin-bottom: auto; 
    gap: 2rem;
    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .navButton {
        display: inline-block;
        text-align: center;
        font-size: medium;
        text-decoration: none;

        padding: auto;  
        border-radius: 0.5rem;
        min-width: 7.8125em;
        min-height: 7.8125em;

        background: $blue;
        color: $black;
        cursor: pointer;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    
        &:hover {
            background: $red;
        }
    }

    @media only screen and (min-width: 475px) {
        .navButton {
            min-width: 12.5em;
            min-height: 12.5em;
        }
    }
} 