@import "src/app/styles/globals";

.dashboardwrap {
    width: min(50rem, 100%);
    margin-top: 2rem; 
    margin-bottom: auto; 
    text-align: center;

    display: grid;
    grid-auto-rows: 10rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1rem;


}