.mainDiv {
    h1 {
        border-style: solid;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        padding: 5%;
    }
    form {
        display: flex;
        flex-direction: column;

        input {
            margin: 2%;
        }
    }
}