@import "src/app/styles/globals";

.main-wrapper {
    width: min(75rem, 100%);
    padding: 1rem;
    margin-top: 2rem;
    background-color: $white;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;


    input[type=text] {
        display: inline-block;
        font-size: 1rem;
        width: 100%;
        padding: 0.5em;
        background-color: $gray-300;
        color: $black;
        border: 1px solid $black;
        text-align: center;
        font-weight: bolder;
    }
    
    .date-container {
        min-width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        .date-box {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 1rem;
        }
    }

    .main-container {
        min-width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 1rem;
        text-align: center;

        .dish-box {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 0.5rem;
        }

        .new-meal-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            margin:  auto;
            padding: 1rem;
            border: outset;
            border-radius: 1vh;

            .config-button {
                display: inline-block;
                text-align: center;
                text-decoration: none;
            
                font-size: 1rem;
                border: 0;
                padding: 0.5em 1em;
            
                background-color: $gray-300;
                color: $black;
                cursor: pointer;
                box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
            
                &:hover {
                    background: $white;
                }
            }

            .main-dish-box {

                .dish-buttons {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    text-align: center;
                    gap: 1rem;

                    margin: 0.5rem;
                }
            }

            .side-dish-box {

                .dish-buttons {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    flex-wrap: wrap;
                    gap: 1rem;

                    margin: 0.5rem;
                }
            }

            .description-box {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                gap: 1rem;

                .description-meal-plan {
                    display: inline-block;
                    width: 100%;

                    font-size: 1rem;
                    padding: 0.5em;
                    resize: none;
                    border: solid 1px;
                    

                    background-color: $gray-300;
                    color: $black;
                }
            }
        }

        .meal-plan-container {
            border: outset;
            border-radius: 1vh;
            background-color: $neutral-200;

            margin: 0 auto;
            
            .meal-plan {
                border: outset;
                border-radius: 1vh;
                background-color: $blue;
                margin: 1rem;
                display: flex;
                flex-direction: column;

                .imageFood{
                    width: 15vh;
                }

                .config-meal-box {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    text-align: center;

                    gap: 1rem;
                    margin: 1rem;
                    
                    .config-button {
                        display: inline-block;
                        text-align: center;
                        text-decoration: none;
                    
                        font-size: 1rem;
                        border: 0;
                        padding: 0.5em 0.5em;
                    
                        background-color: $gray-300;
                        color: $black;
                        cursor: pointer;
                        box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
                    
                        &:hover {
                            background: $white;
                        }

                        @media only screen and (min-width: 475px) {
                            padding: 0.5em 1em;
                        }
                    }
                }

                .information-meal-box {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 0.5rem;

                    margin: 1rem;

                    .config-button {
                        display: inline-block;
                        text-align: center;
                        text-decoration: none;
                    
                        font-size: 1rem;
                        border: 0;
                        padding: 0.5em 1em;
                    
                        background-color: $gray-300;
                        color: $black;
                        cursor: pointer;
                        box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
                    
                        &:hover {
                            background: $white;
                        }
                    }
                }

                .meal-desc-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;

                    margin: 1rem;

                    .description-meal-box {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        gap: 0.5rem;
                        align-items: center;
                    }

                    .arrow {
                        margin-left: auto;
                    }
                }
            }
        }

        .nutrition-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            border: outset;
            border-radius: 1vh;
            padding: 1rem;
            margin: 0 auto;
    
            background-color: $neutral-200;

            .nutrition-graph {
                width: 100%;
                padding: 1rem;
            
                border: outset;
                border-radius: 1vh;
                background-color: $red;
            }

            .imageGraph {
                width: 30vh;
            }

            .nutrition-overview {
                width: 100%;
                padding: 1rem;
                height: 70%;

                border: outset;
                border-radius: 1vh;
                margin-bottom: auto;
                background-color: $red;
            }
        }
    }

    .config-container {
        min-width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        .config-button {
            display: inline-block;
            text-align: center;
            text-decoration: none;
        
            font-size: 1rem;
            border: 0;
            padding: 0.5em 1em;
        
            background-color: $gray-300;
            color: $black;
            cursor: pointer;
            box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
        
            &:hover {
                background: $white;
            }
        }

        .config-button:first-child, .config-button:last-child {
            margin: 0 auto;
        }
    }
}