@import "src/app/styles/globals";

h1 {
    font-size: 1.5rem;

    @media only screen and (min-width: 475px) {
      font-size: 2rem;
    }
}

.main-wrapper {
    width: min(75rem, 100%);
    padding: 1rem;
    margin-top: 2rem;
    background-color: $white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .diet-name {
    }

    .title {
      margin: 0 auto;
    }

    .button {
      display: inline-block;
      text-align: center;
      text-decoration: none;
  
      font-size: 1rem;
      border: 0;
      padding: 0.5em 1em;
  
      background-color: $gray-300;
      color: $black;
      cursor: pointer;
      box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
  
      &:hover {
          background: $white;
      }
    }

    .dropdown {
      font-size: 1rem;
      padding: 0.5em;
      border: 0;
  
      background-color: $gray-300;
      color: $black;
      cursor: pointer;
      box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
  
      &:hover {
          background: $white;
      }
    }

    .diet-container {
      border-style: solid;
      width: 10rem;
      height: 10rem;
      text-align: center;
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }

    .room-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }

    .restriction-container {
      min-width: 100%;
      border: 1px solid $black;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 1rem;
      padding: 1rem;
    }

    .config-container {

    }
}

//Kode under hentet fra W3 Schools, legger stil på toggle slider
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  //Slutt kode hentet fra W3 Schools