ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.border {
    border: solid;
}

.meal-list li {
    border: 1px solid black;
    padding: 1rem;
}

.stats-container {
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
    min-width: 50%;
}

.graphs-container {
    text-align: center;
}   

.section-filter {
    display: flex;
    justify-content: space-between;
    min-width: 50%;
}

.graphs-container section {
    max-width: 50vw;
}

.meal-list-container {
    max-width: 50vw;
}

.popular-section {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

