@import "src/app/styles/globals";

.main-wrapper {
    width: min(75rem, 100%);
    padding: 1rem;
    margin-top: 2rem;
    background-color: $white;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .useradmin-container {
        min-width: 100%;
        border: outset;
        border-radius: 1vh;
        background-color: $gray-300;

        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        gap: 1rem;
        margin: .3rem;

        .user-box {
            margin-right: auto;
            width: 30%;
            text-align: left;
        }

        .role-box {
            margin-left: auto;
        }
    }
}

.profile-wrapper {
    min-width: 100%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;

    .profile-container {
        min-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;

        .name-box {

            input[type=text] {
                display: inline-block;
                font-size: 1rem;
                width: 100%;
                padding: 0.5em;
                background-color: $gray-300;
                color: $black;
            
                border: 1px solid $black;
            }
        }

        .email-box {

            input[type=email] {
                display: inline-block;
                font-size: 1rem;
                width: 100%;
                padding: 0.5em;
                background-color: $gray-300;
                color: $black;
            
                border: 1px solid $black;
            }
        }

        .password-box {
            
            input[type=password] {
                display: inline-block;
                font-size: 1rem;
                width: 100%;
                padding: 0.5em;
                background-color: $gray-300;
                color: $black;
            
                border: 1px solid $black;
            }
        }
    }

    .submit-container {

        .submit-button {
            display: inline-block;
            text-align: center;
            font-size: 1rem;
            text-decoration: none;
            border: 0;
            background-color: $gray-300;
        
            padding: 0.5em 1em;
        
            cursor: pointer;
            box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
        
            &:hover {
                background: $white;
            }
        }
    }
}

.role-dropdown {
    font-size: 1rem;
    padding: 0.5em;
    border: 0;

    background-color: $gray-300;
    color: $black;
    cursor: pointer;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);

    &:hover {
        background: $white;
    }
}

h1 {
    font-size: 1.75rem;

    @media only screen and (min-width: 475px) {
        font-size: 2rem;
    }
}
